body {
    background-color: rgba(92, 13, 43, 0.822);
}

section {
    background-color:rgb(221, 197, 204);
    margin-top: 40px;
    border: rgb(190, 94, 110) solid 10px;
}

#trivia-title {
    padding: 20px;
    color: rgba(92, 13, 43, 0.822);
    font-family: 'Monoton', cursive;
}

#time-remaining {
    padding: 20px;
}

#answer-choices {
    padding: 20px;
}