body {
    background-color: rgba(92, 13, 43, 0.822);
}

section {
    background-color:rgb(221, 197, 204);
    margin-top: 40px;
}

#trivia-title {
    padding: 30px;
}

#time-remaining {
    padding: 20px;
}

#answer-choices {
    padding: 20px;
}