body {
    background-color: rgba(92, 13, 43, 0.822);
}

section {
    background-color:rgb(221, 197, 204);
    margin-top: 40px;
    border: rgb(190, 94, 110) solid 10px;
}

#trivia-title {
    padding: 20px;
    color: rgba(92, 13, 43, 0.822);
    font-family: 'Monoton', cursive;
}

#time-remaining {
    padding: 20px;
}

#answer-choices {
    padding: 20px;
}

#welcome-image {
    border: rgb(190, 94, 110) solid 10px;
    width: auto;
    height: auto;
}

#button-start {
    color: rgba(92, 13, 43, 0.822);
    background-color: rgb(201, 169, 177);
    border: rgb(190, 94, 110) solid 2px;
    font-weight: bold;
}

#button-next {
    color: rgba(92, 13, 43, 0.822);
    background-color: rgb(201, 169, 177);
    border: rgb(190, 94, 110) solid 2px;
    font-weight: bold;
}

/* For desktop: */
@media only screen and (min-width: 480px){
    #welcome-image {
        width: 50%;
    }
}